<section>
  <nav>
    <div>
      <%= link_to '<', categories_path %>
    </div>
    <div class="add-page-text">
      <h2>Add a New Category</h2>
    </div>
    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
  </nav>
  <section class="main">
    <%= form_with model: @category, html: { multipart: true }, url: categories_path do |f| %>
      <div>
        <%= f.text_field :name, placeholder: "Name of category"  %>
      </div>
      <div>
        <%= f.label :icon %>:
        <%= f.file_field :icon %>
      </div>
      <div>
        <%= f.submit 'Add category' %>
      </div>
    <% end %>
  </section>
</section>
